.pontos-batidos{
    display: block;
}

.conteudo-superior{
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
    flex-wrap: wrap;
}

h4{
    text-align: center;
    font-weight: bold;
}

.bater-ponto{
    background-color: #fff;
    width:49%;
    margin-left:1%;
    border-radius: 3px;
    padding: 10px 30px;
}

.resumo-funcionario{
    background-color: #fff;
    text-align: left;
    width:49%;
    margin-right:1%;
    padding: 10px;
    border-radius: 3px;
}
.resumo-funcionario > p > span{
    font-weight: bold;
}
.resumo-funcionario > p {
    margin-bottom: 6px;
}

.pontos-batidos{
    background-color: #fff;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
}
.pontos-batidos td{
    border-top: 5px;
    border-bottom: 5px;
    padding: 7px;
}
.dado-tabela{
    text-align: center;
}

.ponto-entrada{
    color: #009900;
}
.ponto-saida{
    color: #bb0000;
}

.ajuste{
    color: #333;
    text-decoration: none;
}

.ajuste-aberto{
    color: #0ff;
}

.ajuste-aceito{
    color: #0f0;
}

.ajuste-recusado{
    color: #f00;
}

.ajuste:hover{
    color:#00f;
    text-decoration: none;
}

.tabela-ultimos-pontos{
    margin: auto;
}

