html{
    background-color: #ccc;
}
.base{
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
    width:100%;
}

.conteiner-base-branco{
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 1em #888888;
}

.cabecalho{
    background-color: #eeeeee;
    padding-right: 0;
    padding-left: 0;
}

.corpo{
    width: 90%;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 1000px;
}

.rodape{
    background-color: #eeeeee;
}

.rodape > img{
    width: 50px;
    margin: 10px;
}
.cabecalho img{
    width: 50px;
}

#banner-superior{
    margin-right:30px;
}

#botao-admin{
    padding-right: 15px;
    color: #000;
}

#botao-sair{
    color: #000;
}