.base{
    text-align: center;
    vertical-align: middle;
    background-color: #9fcdff;
}

.cabecalho{
    background-color: #eeeeee;
    height: 50px;
}

.corpo{
    background-color: #aaa;
    display: flex;
    justify-content: center;
    height: 200px;
}

.rodape{
    background-color: #eeeeee;
}

.rodape > img{
    width: 50px;
    margin: 10px;
}
.cabecalho img{
    width: 50px;
}