.pontos-batidos{
    text-align: left;
    padding: 10px;
    box-shadow: 0 0 1em #888888;
}
.pontos-batidos td{
    border-top: 5px;
    border-bottom: 5px;
    padding: 7px;
}
.dado-tabela{
    text-align: center;
}

.ponto-entrada{
    color: #009900;
}
.ponto-saida{
    color: #bb0000;
}

.ajuste{
    color: #333;
    text-decoration: none;
    margin: 0;
}

.ajuste-aberto{
    color: #ffea2e;
    margin: 0;
}

.ajuste-aceito{
    color: #009900;
    margin: 0;
}

.ajuste-recusado{
    color: #bb0000;
    margin: 0;
}

.ajuste:hover{
    color:#00f;
    text-decoration: none;
}

.tabela-ultimos-pontos{
    margin: auto;
}
